<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact">


          <div class="tel">
            <div class="footer-icon footer-icon1">
              <img src="/static/images/footer-icon1.png" height="45" width="45">
            </div>
            <p>客服咨询热线</p>
            <p class="phone">1-800-685-NYIS(6947)</p>
          </div>

          <div class="ask">
            <div class="footer-icon footer-icon2">
              <img src="/static/images/footer-icon2.png" height="45" width="45">
            </div>
            <p>邮箱</p>
            <p class="website"><a href="mailto:info@nyis.com">info@nyis.com</a></p>
          </div>

          <div class="weibo">
            <div class="footer-icon footer-icon3">
              <img src="/static/images/footer-icon3.png" height="45" width="45">
            </div>
            <p>微博</p>
            <p class="account"><a href="weibo.com/newyorkis">@小纽美国法律咨询</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
      </div>
      <div class="col-md-2 text-right i-eq">
        <span><img src="/static/images/eq1.png" height="130" width="130" alt=""><em>客服平台<br>asknyis</em></span>
      </div>
      <div class="col-md-2 text-right i-eq">
        <span><img src="/static/images/eq2.png" height="130" width="130" alt=""><em>公众平台<br>newyork_is</em></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 legal">
        <p class="copy">© Copyright 2016 NYIS ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </div>
</div>

