<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact">
          <div class="ask">
            <div class="footer-icon footer-icon1">
              <img src="/static/images/footer-icon1.png" height="45" width="45">
            </div>
            <p>客服咨询热线</p>
            <p class="phone">1-800-685-NYIS(6947)</p>
          </div>
          <div class="ask">
            <div class="footer-icon footer-icon2">
              <img src="/static/images/footer-icon2.png" height="45" width="45">
            </div>
            <p>邮箱</p>
            <p class="website"><a href="mailto:info@nyis.com">info@nyis.com</a></p>
          </div>
          <div class="weibo">
            <a href="http://weibo.com/newyorkis"><img src="/static/images/footer-icon3.png" height="45" width="45"></a>

            <a href="https://www.facebook.com/asknyis"> <img src="https://lh3.googleusercontent.com/-gmpYY4_B-VA/V0jDnUAHxVI/AAAAAAAADI8/5YMQoSRZWb4GvSiCwrBwSD_BkcZA1RbnwCCo/s188/face-01.png" height="45" width="45" padding-left="5" padding-right="5"></a>

            <a href="https://twitter.com/ask_nyis">  <img src="https://lh3.googleusercontent.com/-iidUpEF9KJM/V0jDnyZ_KaI/AAAAAAAADJA/FwYqbtAWYakCk_0Uk5KHKApy-4D1nMU1gCCo/s188/twitter-01.png" height="45" width="45"></a>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact">
          <div class="ask">
            <div class="footer-icon footer-icon1">
              <img
                  src="https://lh3.googleusercontent.com/-g04vBmBoN_I/VwfifcGSTlI/AAAAAAAACt4/13HkFjoRGGMcHYIhe0YeLnCd1hh6uZnHgCCo/s188-Ic42/footer-icon4-01.png"
                  height="45" width="45">
            </div>
            <p>点此签署</p>
            <p class="website"><a href="https://rightsignature.com/forms/--d9feba/token/4ccaddb9403">微信文章转载协议</a></p>
          </div>
          <div class="ask">
            <div class="footer-icon footer-icon2">
              <img
                  src="https://lh3.googleusercontent.com/-GHrhegSJZTA/VzIysPiTCFI/AAAAAAAADAE/xHeLjLW6ChIpRB8cYT_4L7VZ0fq8FCM-wCCo/s188/student-01.png"
                  height="45" width="45">
            </div>
            <p>点击查看</p>
            <p class="account"><a href="https://www.nyis.com/ambassador/">NYIS校园大使</a></p>
          </div>
          <div class="weibo">
            <div class="footer-icon footer-icon3">

            </div>
            <p></p>
            <p class="account"><a href="#"></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-right i-eq">
        <span><img src="/static/images/eq1.png" height="130" width="130" alt=""><em>客服平台<br>asknyis</em></span>
      </div>
      <div class="col-md-2 text-right i-eq">
        <span><img src="/static/images/eq2.png" height="130" width="130" alt=""><em>公众平台<br>newyork_is</em></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 legal">
        <p class="copy">© Copyright 2016 NYIS ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </div>
</div>
