<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact">
          <div class="ask">
            <div class="footer-icon footer-icon1">
              <img
                  src="https://lh3.googleusercontent.com/-BX5eXAqWCfo/VvBwCJ8vjUI/AAAAAAAACeI/YeRvG7aUZxUrqndskdI06caTz6Eo2ExJwCCo/s188-Ic42/footer-icon1.png"
                  height="45" width="45">
            </div>
            <p>客服咨询热线</p>
            <p class="phone">1-800-685-NYIS(6947)</p>
          </div>
          <div class="ask">
            <div class="footer-icon footer-icon2">
              <img
                  src="https://lh3.googleusercontent.com/-QzxiSRcf8Bk/VvBwE09TQYI/AAAAAAAACeA/HPanHRVbsQICj3pY5ltaJ0d0oy42CQ5uACCo/s188-Ic42/footer-icon2.png"
                  height="45" width="45">
            </div>
            <p>邮箱</p>
            <p class="website"><a href="mailto:info@nyis.com">info@nyis.com</a></p>
          </div>
          <div class="weibo">
            <a href="http://weibo.com/newyorkis"><img
                src="https://lh3.googleusercontent.com/-MV0oJ2wAxNE/VvBwHIBJzoI/AAAAAAAACeE/G4jnUANXLVMcTAYtfI0J-CV6aCT-KLubQCCo/s188-Ic42/footer-icon3.png"
                height="45" width="45"></a>

            <a href="https://www.facebook.com/asknyis"> <img
                src="https://lh3.googleusercontent.com/-gmpYY4_B-VA/V0jDnUAHxVI/AAAAAAAADI8/5YMQoSRZWb4GvSiCwrBwSD_BkcZA1RbnwCCo/s188/face-01.png"
                height="45" width="45" padding-left="5" padding-right="5"></a>

            <a href="https://twitter.com/ask_nyis"> <img
                src="https://lh3.googleusercontent.com/-iidUpEF9KJM/V0jDnyZ_KaI/AAAAAAAADJA/FwYqbtAWYakCk_0Uk5KHKApy-4D1nMU1gCCo/s188/twitter-01.png"
                height="45" width="45"></a>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact">
          <div class="ask">
            <div class="footer-icon footer-icon3">
              <img
                  src="https://lh3.googleusercontent.com/89UaSIGddsoWFFRTo24hv9pfwK15Q5fPwAyqFWu51OA2AZSyvCa-5PwL0QhuzvrLglUszDfAz0TguM5UzGlZwmUcrtWwGX5diZEOjIIJiAZdLDThmzc2WJENyro_yT70wXia_rwXzJ1dHLXxSLJVpFvNTki5bnjV1ExWWRPKo4tALwzOWSO5ImX0PGFoh18GDmkPHl0M9rJRABiAmdvNqzty14jErcVOSAb_Z612qpF0Q1vRncUPb2cyvMj_wZ7UGP_88Lh778QBprV_HUZf_HTGwrrbTvzPUYOmoF2Ti7f7oJJLB7OzVtPlzV3NeqGokWJRTG73uO6mEnpK6jWIqksrhiC7BC_QfsVuWE1_PLNxTztpZ4MYWz2BjkcZTf-9dDpV76TuMxzo0uyTLdOc9gNod0DdWUXtiXAQAVplPqeVoboujRDZpxgrvYZWZS51IvG3dzFw9YeLP4o1nprYqCYtkEw1jRQ3d8vggN92QiORaXGp_FNq5cpq77zuowvr0zIgvmNskXNhjsslVJE5MK7RtqNY0IZEJ8N72yg0GdNW7jfQzueov-ySCds7nZOP5ANjQjwJoBolgxZ_TJ7UdKdAFc-xIs0=s94-no"
                  height="45" width="45">
            </div>
            <p>点击查看</p>
            <p class="account"><a href="https://www.nyis.com/partners/">合作机构</a></p>
          </div>
          <div class="ask">
            <div class="footer-icon footer-icon1">
              <img
                  src="https://lh3.googleusercontent.com/-g04vBmBoN_I/VwfifcGSTlI/AAAAAAAACt4/13HkFjoRGGMcHYIhe0YeLnCd1hh6uZnHgCCo/s188-Ic42/footer-icon4-01.png"
                  height="45" width="45">
            </div>
            <p>点此签署</p>
            <p class="website"><a href="https://rightsignature.com/forms/--d9feba/token/4ccaddb9403">微信文章转载协议</a></p>
          </div>
          <div class="ask">
            <div class="footer-icon footer-icon2">
              <img
                  src="https://lh3.googleusercontent.com/-GHrhegSJZTA/VzIysPiTCFI/AAAAAAAADAE/xHeLjLW6ChIpRB8cYT_4L7VZ0fq8FCM-wCCo/s188/student-01.png"
                  height="45" width="45">
            </div>
            <p>点击查看</p>
            <p class="account"><a href="https://www.nyis.com/ambassador/">NYIS校园大使</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-right i-eq">
                <span><img
                    src="https://lh3.googleusercontent.com/-tCb7Vj8WPJQ/Vv3Z45GJBPI/AAAAAAAACn8/LiCRzrWEmhIQX5hr8_BHwYXdBl_3khXFgCCo/s500-Ic42/%25E5%25AE%25A2%25E6%259C%258D.JPG"
                    height="130" width="130" alt="">
<em>客服平台<br>asknyis</em></span>
      </div>
      <div class="col-md-2 text-right i-eq">
                <span><img
                    src="https://lh3.googleusercontent.com/-ale6IpcJNKk/Vv3Z46yxf0I/AAAAAAAACn4/r8wExLQEkw4IJjb9x4jUCkCO9TZlHLeggCCo/s500-Ic42/%25E5%2585%25AC%25E4%25BC%2597%25E5%25B9%25B3%25E5%258F%25B0.jpg"
                    height="130" width="130" alt="">
<em>公众平台<br>newyork_is</em></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 legal">
        <p class="copy">© Copyright 2016 NYIS ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </div>
</div>

