  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  <link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/OOKZ04nOyvVB8B7_ADSaRi6wFOTSVIq6LT_d9dpzG8HTEbu4qzlXxVJdVKDsj0ICjeWSpIgVL6pzzVD7mXa1_1yy_jtPG_5_YHcVPo65m-FPc72ntujAUmUH80-4IWVmutvALWwXUeNNLJFo2XinUWmLJ5QBCz0P8IK9ED4zw99qby4UsuqQot9ECcPz4xNND9RgPVGb7sMZ1VemfnXGGqQbRmWTVmpIQolmDi_MCBDc4ppyMA2vIgzakgkZQFqIaxZ-Rv5jmDo-SqyJfKA6HpozX91yv2BN8ZrmhfGp_nKh8Hx8swOiwW_gUhnTOCSElkBUiSKcxQG60UdoSV4RCYKFnILmFMAzXBAQt1QmFr8pII-D7AvRKgjhoK1NGDPoMAQ0N9zCqXz4hP8wnfwVWOlOXdhoEdzccTk3X8od-A6cc6u_HOoDR7zKgIGylZpu5qoWys6z2o_AYyojE9vIlLoXShS9QExMvOQRBp7zGWgFKtFpoX4ikbehBQg6tfChZpXH7vFYUQF8govuF6uODAprllNJHWoPAlyAUS_67tMh7qU_r9VN9pHSDMaN9G97ztmp0I3T-o4p3qTcWwBMduBWOPtztsg=s32-no">
