<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   	<title>NYIS</title>
   	<meta name="description" content="">
   	<meta name="keywords" content="">
	{include file="index/head_source" /}
</head>
<body>
	<!-- banner -->
	{include file="index/banner_index" /}
	<!-- End banner -->

<header id="banner4">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="m-hi" style="padding-top: 260px;">
          <h1>找个律师吧</h1>
          <br>
          <br>
        </div>
        <form action="/index/index/search_result" class="form-inline" method="get">
          <input type="text" name="param1" style="display: none" class="input-for-datalist" value="name">
          <div style="text-align: center">
            <div class="form-group">
              <div class="input-group">

                <input type="text" class="form-control input-lg search-input-choice" name="param2" placeholder='"H1B" – or – "John Smith"' autocomplete="off">
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="param3" placeholder='"New York" - or - "CA"' autocomplete="off">
            </div>
            <div class="form-group">
              <button type="submit" id="btn-slide1" class="btn btn-info1 btn-lg">搜索</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<div class="icon-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 single-icon-container">
        <img src="/static/images/lawyer-icon-1.png">
        <h5><strong>律师覆盖全美</strong></h5>
      </div>
      <div class="col-md-4 single-icon-container">
        <img src="/static/images/lawyer-icon-2.png">
        <h5><strong>信息完整准确</strong></h5>
      </div>
      <div class="col-md-4 single-icon-container">
        <img src="/static/images/lawyer-icon-3.png">
        <h5><strong>用户真实体验</strong></h5>
      </div>
    </div>
  </div>
</div>

<div class="container text-center content-container">
  <div class="row">
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class="thumbnail-1st" style="background-image: url('/static/images/categori/business.jpg')">
          <h1 class="middle-caption high-contrast">商业</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class="thumbnail-1st" style="background-image: url('/static/images/categori/family.jpg')">
          <h1 class="middle-caption high-contrast">家庭</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class="thumbnail-1st" style="background-image: url('/static/images/categori/immigration.jpg')">
          <h1 class="middle-caption high-contrast">移民</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class=" thumbnail-2nd" style="background-image: url('/static/images/categori/criminal.jpg')">
          <h1 class="middle-caption high-contrast">刑事</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class=" thumbnail-2nd" style="background-image: url('/static/images/categori/transportation-1.jpg')">
          <h1 class="middle-caption high-contrast">交通</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class=" thumbnail-2nd" style="background-image: url('/static/images/categori/labor.jpg')">
          <h1 class="middle-caption high-contrast">劳工</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class=" thumbnail-2nd" style="background-image: url('/static/images/categori/landlord.jpg')">
          <h1 class="middle-caption high-contrast">地产</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class=" thumbnail-2nd" style="background-image: url('/static/images/categori/rent.jpg')">
          <h1 class="middle-caption high-contrast">租赁</h1>
        </div>
      </a>
    </div>
    <div class="col-md-4 thumbnail-container">
      <a href="#">
        <div class=" thumbnail-2nd" style="background-image: url('/static/images/categori/bankruptcy.jpg')">
          <h1 class="middle-caption high-contrast">破产</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a href="#" class="btn btn-default btn-block"><h4>更多领域</h4></a>
    </div>
  </div>
</div>

<!-- login modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">登陆 | 注册</h4>
      </div>
      <div class="modal-container">
        <div class="row">
          <div class="col-xs-6 login-form">
            <h3>用户登录</h3>
            <br>
            <form action="" class="form-horizontal">
              <div class="input-group">
                <span class="input-group-addon modal-input-group-addon"><i class="fa fa-envelope-o"></i> </span>
                <input type="text" class="form-control modal-input" placeholder="用户名" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon modal-input-group-addon"><i class="fa fa-key"></i> </span>
                <input type="text" class="form-control modal-input" placeholder="密码" aria-describedby="basic-addon1">
              </div>
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-xs-8">
                  <input type="checkbox">记住我
                  <p>忘记密码</p>
                </div>
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary" style="float:right">登录</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-6 sign-up-form">
            <h3 class="high-contrast">还不是会员?</h3>
            <form action="" class="form-horizontal">

              <input type="text" class="form-control modal-input" placeholder="用户名" aria-describedby="basic-addon1">

              <br>

              <input type="text" class="form-control modal-input" placeholder="密码" aria-describedby="basic-addon1">

              <br>

              <input type="text" class="form-control modal-input" placeholder="确认密码" aria-describedby="basic-addon1">

              <br>
              <div class="row">
                <button type="submit" class="btn btn-primary" style="float:right;background-color:white">注册</button>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



	<!-- footer -->
	{include file="index/footer_index" /}
	<!-- End footer -->

</body>
</html>
<!-- 右侧浮动 -->
<!-- 暂时不要
<div id="fixbtn">
    <a href="" class="i1"></a>
    <a href=""class="i2"></a>
</div>

<p>工作日 10:00 - 19:00</p>
<p><a href="" class="btn btn-o btn-sm">在线客服</a></p>
-->
