<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>lawyer profile</title>

	{include file="index/head_source" /}
</head>
<body ng-app="lawyerRate" ng-controller="reviewCtrl">
	<!-- banner -->
	{include file="index/banner" /}
	<!-- End banner -->

<header style="background-image: url('/static/images/banner4.jpg')" class="profile-header">
</header>
<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-3 round-portrait">
        <img src="/static/images/search_result/profile-07.png">
      </div>
      <div class="col-md-7 basic-info">
        <div class="basic-info-1st">
          <h2><strong id="lawyer_name">{$user}</strong></h2>
          <div>
            <br>
            <i class="glyphicon glyphicon-phone-alt"></i> {$phone}
          </div>
        </div>
        <p>{$city},{$state},{$zipcode}</p>
        <div class="practice-area-collection" style="margin-left: 0">
          <ul>
            <!-- <li class="practice-area-badge">移民</li>
            <li class="practice-area-badge">商标</li>
            <li class="practice-area-badge">交通罚单</li>
            <li class="practice-area-badge">民事诉讼</li>
            <li class="practice-area-badge">家庭</li> -->
			<?php 
				if(!empty($practice[0])){
					echo "<li class='practice-area-badge'>" . $practice[0] . "</li>";
				} 
				if(!empty($practice[1])){
					echo "<li class='practice-area-badge'>" . $practice[1] . "</li>";
				}
				if(!empty($practice[2])){
					echo "<li class='practice-area-badge'>" . $practice[2] . "</li>";
				}
				if(!empty($practice[3])){
					echo "<li class='practice-area-badge'>" . $practice[3] . "</li>";
				}
				if(!empty($practice[4])){
					echo "<li class='practice-area-badge'>" . $practice[4] . "</li>";
				}
			?>
          </ul>
        </div>
        <div>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <p style="display: inline-block">156</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid badge-container">
    <div class="row  text-center">
      <div class="col-xs-4 col-md-4">
        <a href="#" class="btn btn-default btn-badge">
          <i class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>
          <h4 style="display: inline-block; margin-top: 6px">Email</h4>
        </a>
      </div>
      <div class="col-xs-4 col-md-4">
        <a href="#" class="btn btn-default btn-badge">
          <i class="glyphicon glyphicon-phone-alt" style="margin-right: 5px"></i>
          <h4 style="display: inline-block; margin-top: 6px">Call</h4>
        </a>
      </div>
      <div class="col-xs-4 col-md-4">
        <a href="#" class="btn btn-default btn-badge">
          <i class="fa fa-location-arrow"></i>
          <h4 style="display: inline-block; margin-top: 6px">Contact Info</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1>律师点评</h1>
    <br>
    <div>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <p style="display: inline-block">156</p>
    </div>
    <br>
    <a href="#" class="btn btn-default btn-customized" data-toggle="modal" data-target="#myModal1">写点评</a>
    <br>
        <ul class="review-list">
      <li class="col-md-10 col-md-offset-1" ng-repeat="review in reviewlist">
        <div>
          <div class="col-md-4" style="text-align: left">
            <div>
              <i class="fa fa-star" ng-repeat="i in getRange(0, review.score)"></i>
	      <i class="fa fa-star-half-o" ng-if="isDecimal(review.score)"></i>
              <i class="fa fa-star-o" ng-repeat="i in getRange(review.score, 5)"></i>
            </div>
            <h4>由 {{review.author}}</h4>
            <h4>发布于 {{review.time}}</h4>
          </div>
          <div class="col-md-8" style="text-align: left">
	    <h4>{{review.content}}</h4>
          </div>
        </div>
      </li>
  </ul>
  
  <a href="#" class="btn btn-default btn-customized">查看更多点评</a>
  </div>
  <div class="container info-table-container">
    <h2 style="text-align: center">律师详情</h2>
    <div class="col-md-offset-1 col-md-10">
	<?php if(!empty($licenses)){ ?>
      <h3>执照信息</h3>
      <table>
        <tr>
            <th>适用州</th>
            <th>状态</th>
            <th>获得日期</th>
            <th>最近更新</th>
        </tr>
		{volist name="licenses" id="licenses"}
        <tr>
          <td>{$licenses.state}</td>
          <td>{$licenses.status}</td>
          <td>{$licenses.origin}</td>
          <td><?php echo date("Y-m-d",$licenses['updated']['sec']); ?></td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($awards)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>奖项</h3>
      <table>
        <tr>
          <th>奖项名称</th>
          <th>颁发机构</th>
          <th>颁发日期</th>
        </tr>
		{volist name="awards" id="awards"}
        <tr>
          <td>{$awards.award_name}</td>
          <td>{$awards.grantor}</td>
          <td>{$awards.date_granted}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($work_experience)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>工作经验</h3>
      <table>
        <tr>
          <th>公司名称</th>
          <th>职 位</th>
          <th>时 间</th>
        </tr>
		{volist name="work_experience" id="work_experience"}
        <tr>
          <td>{$work_experience.company_name}</td>
          <td>{$work_experience.title}</td>
          <td>{$work_experience.duration}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($associations)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>协会</h3>
      <table>
        <tr>
          <th>协会名称</th>
          <th>职 位</th>
          <th>时 间</th>
        </tr>
		{volist name="associations" id="associations"}
        <tr>
          <td>{$associations.association_name}</td>
          <td>{$associations.position_name}</td>
          <td>{$associations.duration}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($legal_cases)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>法律案件</h3>
      <table>
        <tr>
          <th>案 件</th>
          <th>结 果</th>
        </tr>
		{volist name="legal_cases" id="legal_cases"}
        <tr>
          <td>{$legal_cases.case_name}</td>
          <td>{$legal_cases.outcome}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($publications)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>出版物</h3>
      <table>
        <tr>
          <th>作品名</th>
          <th>时 间</th>
        </tr>
		{volist name="publications" id="publications"}
        <tr>
          <td>{$publications.publication_name}</td>
          <td>{$publications.date}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($education)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>教育经历</h3>
      <table>
        <tr>
          <th>学校名称</th>
          <th>主修课程</th>
          <th>学 位</th>
          <th>毕 业</th>
        </tr>
		{volist name="education" id="education"}
        <tr>
          <td>{$education.school_name}</td>
          <td>{$education.major}</td>
          <td>{$education.degree}</td>
          <td>{$education.graduated}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">登陆 | 注册</h4>
      </div>
      <div class="modal-container">
        <div class="row">
          <div class="col-xs-6 login-form">
            <h3>用户登录</h3>
            <br>
            <form action="" class="form-horizontal">
              <div class="input-group">
                <span class="input-group-addon modal-input-group-addon"><i class="fa fa-envelope-o"></i> </span>
                <input type="text" class="form-control modal-input" placeholder="用户名" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon modal-input-group-addon"><i class="fa fa-key"></i> </span>
                <input type="text" class="form-control modal-input" placeholder="密码" aria-describedby="basic-addon1">
              </div>
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-xs-8">
                  <input type="checkbox">记住我
                  <p>忘记密码</p>
                </div>
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary" style="float:right">登录</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-6 sign-up-form">
            <h3 class="high-contrast">还不是会员?</h3>
            <form action="" class="form-horizontal">

              <input type="text" class="form-control modal-input" placeholder="用户名" aria-describedby="basic-addon1">

              <br>

              <input type="text" class="form-control modal-input" placeholder="密码" aria-describedby="basic-addon1">

              <br>

              <input type="text" class="form-control modal-input" placeholder="确认密码" aria-describedby="basic-addon1">

              <br>
              <div class="row">
                <button type="submit" class="btn btn-primary" style="float:right;background-color:white">注册</button>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--review modal-->
<div ng-controller="writeReviewCtrl" class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--review submit uri, use post method-->
     <!-- <form action="#" method="post">-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <!--律师名字-->
          <h4 class="modal-title" id="myModalLabel">评价<span>{$user}</span></h4>
          <br>
          <div id="rateYo"></div>
        </div>
        <div class="modal-body">
          <textarea class="form-control comment-box" name="review" row="20" ng-model="content"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button id="submitReview" ng-click="addReview()" class="btn btn-primary" data-dismiss="modal">发布评价</button>
        </div>
      <!--</form>-->
    </div>
  </div>
</div>





	<!-- footer -->
	{include file="index/footer" /}
	<!-- End footer -->

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/typeahead.jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rateyo.min.js"></script>
<script type="text/javascript" src="/static/js/search-form.js"></script>
<script type="text/javascript" src="/static/js/lawyer_rating.js"></script>
</body>
</html>
