<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>lawyer profile</title>

	{include file="index/head_source" /}
</head>
<body>
	<!-- banner -->
	{include file="index/banner" /}
	<!-- End banner -->

<header style="background-image: url('/static/images/banner4.jpg')" class="profile-header">
</header>
<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-3 round-portrait">
        <img src="/static/images/search_result/profile-07.png">
      </div>
      <div class="col-md-7 basic-info">
        <div class="basic-info-1st">
          <h2><strong>{$user}</strong></h2>
          <div>
            <br>
            <i class="glyphicon glyphicon-phone-alt"></i> {$phone}
          </div>
        </div>
        <p>{$city},{$state},{$zipcode}</p>
        <div class="practice-area-collection" style="margin-left: 0">
          <ul>
            <!-- <li class="practice-area-badge">移民</li>
            <li class="practice-area-badge">商标</li>
            <li class="practice-area-badge">交通罚单</li>
            <li class="practice-area-badge">民事诉讼</li>
            <li class="practice-area-badge">家庭</li> -->
			<?php 
				if(!empty($practice[0])){
					echo "<li class='practice-area-badge'>" . $practice[0] . "</li>";
				} 
				if(!empty($practice[1])){
					echo "<li class='practice-area-badge'>" . $practice[1] . "</li>";
				}
				if(!empty($practice[2])){
					echo "<li class='practice-area-badge'>" . $practice[2] . "</li>";
				}
				if(!empty($practice[3])){
					echo "<li class='practice-area-badge'>" . $practice[3] . "</li>";
				}
				if(!empty($practice[4])){
					echo "<li class='practice-area-badge'>" . $practice[4] . "</li>";
				}
			?>
          </ul>
        </div>
        <div>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <p style="display: inline-block">156</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid badge-container">
    <div class="row  text-center">
      <div class="col-md-4">
        <a href="#" class="btn btn-default btn-badge">
          <i class="glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>
          <h4 style="display: inline-block; margin-top: 6px">Email</h4>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-default btn-badge">
          <i class="glyphicon glyphicon-phone-alt" style="margin-right: 5px"></i>
          <h4 style="display: inline-block; margin-top: 6px">Call</h4>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-default btn-badge">
          <i class="fa fa-location-arrow"></i>
          <h4 style="display: inline-block; margin-top: 6px">Contact Info</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1>律师点评</h1>
    <br>
    <div>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <p style="display: inline-block">156</p>
    </div>
    <br>
    <a href="#" class="btn btn-default btn-customized" data-toggle="modal" data-target="#myModal">写点评</a>
    <br>
    <ul class="review-list">
      <li class="col-md-10 col-md-offset-1">
        <div>
          <div class="col-md-4" style="text-align: left">
            <div>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            </div>
            <h4>由<span>小丸子</span></h4>
            <h4>发布于 <span>07-21-2015</span></h4>
          </div>
          <div class="col-md-8" style="text-align: left">
            <h4>Chang律师帮我拜托了该不该发生的问题麻烦，他关心他的客户，并不会休息，知道正义得到伸张。他是非常有益和友好和有这样一个惊人的内心</h4>
          </div>
        </div>
      </li>
      <li class="col-md-10 col-md-offset-1">
        <div>
          <div class="col-md-4" style="text-align: left">
            <div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <h4>由<span>小丸子</span></h4>
            <h4>发布于 <span>07-21-2015</span></h4>
          </div>
          <div class="col-md-8" style="text-align: left">
            <h4>Chang律师帮我拜托了该不该发生的问题麻烦，他关心他的客户，并不会休息，知道正义得到伸张。他是非常有益和友好和有这样一个惊人的内心</h4>
          </div>
        </div>
      </li>
      <li class="col-md-10 col-md-offset-1">
        <div>
          <div class="col-md-4" style="text-align: left">
            <div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <h4>由<span>小丸子</span></h4>
            <h4>发布于 <span>07-21-2015</span></h4>
          </div>
          <div class="col-md-8" style="text-align: left">
            <h4>Chang律师帮我拜托了该不该发生的问题麻烦，他关心他的客户，并不会休息，知道正义得到伸张。他是非常有益和友好和有这样一个惊人的内心</h4>
          </div>
        </div>
      </li>
    </ul>
    <a href="#" class="btn btn-default btn-customized">查看更多点评</a>
  </div>
  <div class="container info-table-container">
    <h2 style="text-align: center">律师详情</h2>
    <div class="col-md-offset-1 col-md-10">
	<?php if(!empty($licenses)){ ?>
      <h3>执照信息</h3>
      <table>
        <tr>
            <th>适用州</th>
            <th>状态</th>
            <th>获得日期</th>
            <th>最近更新</th>
        </tr>
		{volist name="licenses" id="licenses"}
        <tr>
          <td>{$licenses.state}</td>
          <td>{$licenses.status}</td>
          <td>{$licenses.origin}</td>
          <td><?php echo date("Y-m-d",$licenses['updated']['sec']); ?></td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($awards)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>奖项</h3>
      <table>
        <tr>
          <th>奖项名称</th>
          <th>颁发机构</th>
          <th>颁发日期</th>
        </tr>
		{volist name="awards" id="awards"}
        <tr>
          <td>{$awards.award_name}</td>
          <td>{$awards.grantor}</td>
          <td>{$awards.date_granted}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($work_experience)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>工作经验</h3>
      <table>
        <tr>
          <th>公司名称</th>
          <th>职 位</th>
          <th>时 间</th>
        </tr>
		{volist name="work_experience" id="work_experience"}
        <tr>
          <td>{$work_experience.company_name}</td>
          <td>{$work_experience.title}</td>
          <td>{$work_experience.duration}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($associations)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>协会</h3>
      <table>
        <tr>
          <th>协会名称</th>
          <th>职 位</th>
          <th>时 间</th>
        </tr>
		{volist name="associations" id="associations"}
        <tr>
          <td>{$associations.association_name}</td>
          <td>{$associations.position_name}</td>
          <td>{$associations.duration}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($legal_cases)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>法律案件</h3>
      <table>
        <tr>
          <th>案 件</th>
          <th>结 果</th>
        </tr>
		{volist name="legal_cases" id="legal_cases"}
        <tr>
          <td>{$legal_cases.case_name}</td>
          <td>{$legal_cases.outcome}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($publications)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>出版物</h3>
      <table>
        <tr>
          <th>作品名</th>
          <th>时 间</th>
        </tr>
		{volist name="publications" id="publications"}
        <tr>
          <td>{$publications.publication_name}</td>
          <td>{$publications.date}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
	<?php if(!empty($education)){ ?>
      <hr style="border-top: 2px solid lightgray">
      <h3>教育经历</h3>
      <table>
        <tr>
          <th>学校名称</th>
          <th>主修课程</th>
          <th>学 位</th>
          <th>毕 业</th>
        </tr>
		{volist name="education" id="education"}
        <tr>
          <td>{$education.school_name}</td>
          <td>{$education.major}</td>
          <td>{$education.degree}</td>
          <td>{$education.graduated}</td>
        </tr>
		{/volist}
      </table>
	<?php } ?>
    </div>
  </div>
</div>

	<!-- footer -->
	{include file="index/footer" /}
	<!-- End footer -->

<script>
  $(document).ready(function () {
    $(".input-for-datalist").val("name");
    $('.search-choices li a').click(function () {
      $(".btn-choice .choices").text($(this).text());
      $(".search-input-choice").attr("placeholder", $(this).text());
      if ($(this).text() == "律师姓名") {
        $(".input-for-datalist").val('name');
      }
      else {
        $(".input-for-datalist").val('practice areas');
      }
    });
  });
</script>
</body>
</html>
